.passwordDiv{
    width: 300px;
    margin-top: 100px;
    margin-left: 500px;
    background-image: linear-gradient(to top,rgb(200, 113, 215),lightpink );
    padding: 70px 50px 100px 50px ;
    font-size: 18px;
}
.newId{
    width: 250px;
    padding: 7px 10px 7px 10px ;
    outline-color: yellow;
}
.newDiv{
    margin-bottom: 20px;
}
.update{
    border: none;
    padding: 10px 30px;
    font-size: medium;
    margin-left: 70px;
    margin-top: 20px;
}